@font-face {
    font-family: 'FinkHeavy';
    src: url('/fonts/FinkHeavy.woff2') format('woff2'), url('/fonts/FinkHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'FinkHeavy', 'Coustard', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr, 1fr, auto, 1fr;
    column-gap: 10px;
    row-gap: 10px;
    flex-direction: row;
    justify-content: center;
    grid-template-areas: 'hd' 'hd' 'main' 'sd' 'ft';
    border: 1px solid turquoise;
}

.item {
    display: grid;
}

.header {
    grid-area: hd;
    background-color: #9edcdb;
}

.main {
    grid-area: main;
    flex-direction: column;
    border: 1px solid blue;
}

.sidebar {
    grid-area: sd;
    border: 1px solid green;
}

.footer {
    grid-area: ft;
    background-color: #9edcdb;
}

@media(min-width:1040px) {
    .container {
        grid-template-columns: 350px 350px 300px;
        grid-template-areas: 'hd hd hd' 'hd hd hd' 'main main sd' 'ft ft ft';
    }
}

colors {
    color: #f1e06a;
    color: #fde295;
    color: #c4a0dd;
    color: #9edcdb;
    color: #89caa2;
}