/* Navigation */

.box-top {
    position: fixed;
}

#nav-bar {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

#nav-bar li {
    margin-left: 10px;
    margin-right: 10px;
}

#nav-bar {
    font-family: 'Coustard', sans-serif;
    text-transform: uppercase;
}

#nav-bar a:hover {
    text-decoration: none;
    color: var(--ac-orange);
}

.social a {
    padding: 5px;
}

.fa-facebook:hover {
    color: #3B5998;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-instagram:hover {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
}

.fa-pinterest:hover {
    color: #e60023;
}

#background-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    max-height: 200px;
    background-size: cover;
    background-image: url(/resources/img/forest-banner.jpg);
}

#background-title img {
    max-height: 200px;
}
